@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #83426a;
  --foreground: #e70909;
}
.flip-card{
  perspective: 1000px;


}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}
.flip-card-front {
  transform: rotateY(0deg);
}
.flip-card-back{
  transform: rotateY(180deg);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
